<form name="form1">
    <div class="row bottom-buffer">
        <div class="col-sm-12 col-md-2">
            <label>From:</label>
            <input type="text" class="form-control" ng-model="cardName"/>
        </div>
    </div>

    <div class="row bottom-buffer">
        <div class="col-md-10">
            <button class="btn btn-default" ng-click="search()">Search</button>
        </div>
    </div>
</form>
<hr/>
<div class="row bottom-buffer" ng-show="cardSearchResponse">
    <div class="col-sm-6 col-md-4 columns">
        <img ng-src="{{cardSearchResponse.img}}">
    </div>
    <div class="col-sm-6 col-md-4 columns">
        <img ng-src="{{cardSearchResponse.imgGold}}">
    </div>
</div>